@font-face {
  font-family: monogram;
  src: url('/monogram.ttf');
}

body {
  font-family: monogram, monospace;
  font-size: 2rem;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

#textbox {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 2vh;
  min-height: 10vh;
  background-color: rgb(242, 237, 193);
  border-radius: 5px;
  outline-style: solid;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  word-spacing: 0.2rem;
  filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
}

.ui-text {
  margin: 0;
  user-select: none;
}

.display-none {
  display: none;
}

.ui-close-btn {
  font-family: inherit;
  border-style: none;
  border-radius: 5px;
  padding: 0.6rem;
  font-size: inherit;
  margin-right: 5px;
}

.ui-close-btn:hover {
  transform: scale(1.2);
  color: crimson;
}

.btn-container {
  align-self: flex-end;
  margin-top: 1rem;
}

.note {
  position: absolute;
  top: 1vh;
  left: 5%;
  display: flex;
  flex-direction: column;
  color: rgb(238, 238, 238);
  user-select: none;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.5rem;
  }
  #textbox {
    padding: 0.5rem;
    word-spacing: 0.1rem;
  }
}
